@import "../app.component.scss";
@import "../side-nav-bar/side-nav-bar.component.scss";
$dropdown-txt-color:#777;

.top-nav{
    @extend .right-nav;
    border-radius:0px; 
}
.navbar-brand{
    height: 30px
}
.navbar{
    margin-bottom: 0px;
    border:0;
}
.navbar-default .navbar-nav > li > a{
    color: lighten(#777, 15%) ;
}
.navbar-default .navbar-nav > .active > a{
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:focus{
    border-bottom: 5px solid lighten($colorBlue, 20%);
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover,
{
    background-color: transparent;
    border-bottom: 5px solid lighten($colorBlue, 15%);
}

#top-navbar-collapse >  .navbar-right > li > a:hover,
#top-navbar-collapse >  .navbar-right > li > a:focus {
    border-bottom: transparent;
    background-color: lighten($rightColColor,20%)
}
#top-navbar-collapse >  .navbar-right > li > a:hover > span{
    color: lighten($colorBlue, 15%);
}
.nav .open > a, .nav .open > a:hover{
    background-color: lighten($rightColColor,20%)
}
.navbar-nav > li > .dropdown-menu{
      background-color: lighten($rightColColor,20%);  
      color: $nav-text-color;
}
.dropdown-menu > li > a {
      color: $dropdown-txt-color;
}
.dropdown-menu > li > a:hover {
      background-color: lighten($rightColColor,30%); 
      color: lighten($dropdown-txt-color, 20%)
      }
.dropdown-menu .divider{
    background-color:lighten($rightColColor, 40%);
}