<div class="container-fluid">
    <div class="row row-eq-height">
        <div class="col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-md-10 col-sm-12 col-xs-12">
            <div class="row">
                <app-top-nav-bar>Loading...</app-top-nav-bar>
            </div>
            
            <div class="row row-eq-height">
                <div class="col-md-3 hidden-sm hidden-xs right-nav">
                    <app-side-nav-bar>Loading...</app-side-nav-bar>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="row row-main-container">
                        <div class="col-md-12 col-sm-12 col-xs-12 msg-container">
                            <app-massage></app-massage>
                        </div>
                    </div>
                    <div class="row">
                        <div class="button-bottom-container">
                            <app-send-message>Loading...</app-send-message>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 hidden-sm hidden-xs"></div>
    </div>
</div>



